html{
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color:  #ae2a30;
    width: 100%;
    position: fixed;
    top: 0;   
    left: 0;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    margin: 0;color: white;
}

nav a{
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 0 20px;
    margin: 0;
    width: 10%; 
}

main{
    width: 70%;
    margin: 7% auto 0 auto;
}

.errores{
    color: red;
    text-align: center;
}

.sctPrincipal{
    gap: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "cajas stats";
}

section{
 padding: 10px;
}

section h3{
    margin: 0;
    text-align: center;
}

a{
    text-decoration: none;
}

#aAgregar{
    background-color: #ae2a30;
    color: #f7f7f7;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
} 

#btnVer, .sctPrincipal a:last-child{ 
    color: #ae2a30;
    font-weight: bold;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: center;
}


#sctCajas, #sctUsuarios{
    background-color: #333;
    border-radius: 4px;
    color: #f7f7f7;

    grid-area: cajas;
}

#sctCajas{
    visibility: visible;
}

#sctUsuarios {
    display: none; /* Inicialmente oculto */
}

#sctStats{
    grid-area: stats;
    text-align: center;
}


ol{
    list-style: none;
    overflow-y: auto;
    height: 350px;
    scrollbar-width: none; 
    padding: 0;
}

li{ 
    border-radius: 4px;
    padding: 5px 10px;
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 li div span{
    font-size:inherit;
 }

 li div:nth-child(1){
    display: flex;
    flex-direction: column; 
 }

 li div:nth-child(2){
    width: 10%;
    display: flex;
    justify-content: space-between;
 }

 li a{
    color: #f7f7f7;
 }

 li:hover {
    transition: 1s;
    background-color: beige;
    color: #333;
 }

 li:hover a {
    color: inherit;
}

#sctStats2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: "uno dos tres" "cuatro cuatro cuatro" "cinco cinco cinco";
    gap: 3px;
}

.dvStat{
    background-color: #333;
    border-radius: 4px;
    padding: 10px;
    color: #f7f7f7;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.26);

    display: flex;
    flex-direction: column;
    text-align: center;
}

.dvStat:nth-child(4){
    grid-area: cuatro;
}

.dvStat:nth-child(5){
    grid-area: cinco;
}


.dvStat i{
    font-size: xx-large;
    margin-bottom: 5px;
}

.dvStat label{
    font-size: small;
}

.dvStat label:last-child{
    color: white;
    font-size: xx-large;
}

/*                estilos stats                    */
.sctPrincipalEstats h3{
    text-align: center;
}

.sctPrincipalEstats a{
    color: #333;
    font-weight: bold;
}

.sctPrincipalEstats a:hover{
    color:#ae2a30;
}

.sctPrincipalEstats h4{
    text-align: left;
    padding: 0 10px;
}


.sctPrincipalEstats #sctStats{
    grid-area: cajas;
}

#sctStatsHistorial{
    grid-area: stats;
}

.tblStats{
    width: 100%;
    border-radius: 4px;
    border-spacing: 0;
    background-color: #333;   
    color: #f7f7f7;
    text-align: center;
}

.tblStats thead{
    border: 0;
    background-color: #ae2a30;
}

.trUno th:first-child{
    border-radius: 4px 0 0 0 ;
}

.trUno th:last-child{
    border-radius: 0 4px 0 0 ;
}   


/* tbody tr:last-child + tbody tr td:last-child{
    border-radius: 4px;
    background-color: aqua;
} */

/* estilos crud */
form{
    background-color:#333;
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    gap: 10px; 
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p, form label{
    text-align: center;
    color: white;
}

form span{
    font-weight: bold;
}

form h3{
    color: #f7f7f7; 
    margin:0 0 0 10px;   
}

form div{
    width: 100%;
    display: flex;
}

input[type="text"],input[type="password"]{
    border: lightgrey 1px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.dvBotones{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.dvBotones input[type="submit"], .dvBotones a{
    background-color: #ae2a30;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    width: 40%;
    text-align: center; 
    cursor: pointer;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: small;
}

/*                            s i                                              */

@media (max-width: 1024px) {
    .sctPrincipal{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }

     li div:nth-child(2){
    width: 20%;
    display: flex;
    justify-content: space-between;
 }

 .dvBotones{
      width: 90%;
}
}