@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "SimpleLayout";
}


<section>
    <h1>Acceso denegado</h1>
    <p>No tienes permisos para acceder a esta página.</p>
    <p>Por favor, contacta al administrador del sistema.</p>
</section>