@model QBankAdmin.Models.ViewModels.IndexViewModel
@{

    Layout = "MainLayout";
}


<div class="container__usuarios">


@*     <div class="container__usuarios-caja-turno-actual">
        <div class="container__usuarios-caja">
            <h3>Caja</h3>
            <p>Esperando...</p>
        </div>
        <div class="container__usuarios-turno-actual">
            <h3>Turno Actual</h3>
            <p id="turnoActual">Esperando...</p>
        </div>
    </div> *@


    @* <hr /> *@

    <div class="container__turnos">
        <div class="container__turnos-actual">
            <div>
                <p >
                    Atendiendo turno
                </p>
                <p id="turnoActual">
                  
                </p>
               
            </div>
            <p class="container__turnos-actual-caja">
               CAJA 14
            </p>
        </div>
        @foreach (var item in Model.Turnos)
        {
            <div class="container__turnos-item">
                <p class="container__turnos-item-siguientes-turnos"></p>
                <p>@item.CodigoTurno</p>
            </div>
        }
    </div>

 
</div>



<script src="~/usuario.js"></script>
