@model QBankAdmin.Models.ViewModels.IndexViewModel
@{

    Layout = "MainLayout";
}


<div class="container__usuarios">


    <div class="container__usuarios-caja-turno-actual">
        <div class="container__usuarios-caja">
            <h3>Caja</h3>
            <p></p>
        </div>
        <div class="container__usuarios-turno-actual">
            <h3>Turno Actual</h3>
            <p id="turnoActual"></p>
        </div>
    </div>


    <hr />

    <div class="container__turnos">
        @foreach (var item in Model.Turnos)
        {
            <div class="container__turnos-item">
                <p>@item.CodigoTurno</p>
            </div>
        }
    </div>

 
</div>



<script>

    const currentTurno = document.querySelector("#turnoActual");
    const url = "https://qbank.websitos256.com/turno";
    const urlLocal = "https://localhost:5002/turno";
    const turnos = document.querySelectorAll(".container__turnos-item");
    const connection = new signalR.HubConnectionBuilder()
        .withUrl(url, {
            skipNegotiation: true,
            transport: signalR.HttpTransportType.WebSockets,
        })
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function start() {
        try {
            await connection.start();
            console.log("SignalR Connected.");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    connection.onclose(async () => {
        await start();
    });


    connection.on("AddToQueue", (turno) => {
        console.log(turno)
        const turnosContainer = document.querySelector(".container__turnos");

        const $div = document.createElement("div");
        $div.classList.add("container__turnos-item");
        const p = document.createElement("p");
        p.textContent = `${turno.codigoTurno}`;
        $div.appendChild(p);

        turnosContainer.appendChild($div);
        


    });


    connection.on("SetCurrentTurn", (turno, caja) => { 
        console.log(turno, caja);
        const $cajaDeTurnoActual = document.querySelector(".container__usuarios-caja P");
        const turnos = document.querySelectorAll(".container__turnos-item");
        const p = document.createElement("p");
        currentTurno.innerHTML = "";
        p.textContent = `${turno}`;
        currentTurno.appendChild(p);
        $cajaDeTurnoActual.textContent = `${caja}`;

        turnos.forEach((item) => {
            if (item.textContent.includes(turno)) {
                item.remove();
            }
        });


    });

    // Start the connection.
    start();
</script>