@model QBankAdmin.Models.Dtos.UsuarioDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<form action="~/Admin/Usuario/Agregar" method="post">
    <h3>Agregar usuario</h3>
    <input type="text" id="nombre" asp-for="Nombre" placeholder="Nombre de usuario">
    <input type="text" id="correoelectronico" asp-for="CorreoElectronico" placeholder="Correo electrónico">
    <input type="password" id="contraseña" asp-for="Contrasena" placeholder="Contraseña">
    <label>Seleccine el rol del usuario:</label>
    <select asp-for="RolId">
        <option value="1">Administrador</option>
        <option value="2">Operador</option>
    </select>
    <div class="dvBotones">
        <input type="submit" value="Agregar">
        <a href="~/Admin/Usuario/Index">Cancelar</a>
    </div>

</form>
<p class="errores"> Aquí se mostrarán los errores</p>
