@model QBankAdmin.Areas.Admin.Models.ViewModels.IndexUsuariosAdminViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<section id="sctCajas">
    <h3>Usuarios</h3>
    <ol>
        @foreach (var item in Model.Usuarios)
        {
            <li>
                <div>
                    <label style="font-weight: bold;">Nombre: <span>@item.NombreUsuario</span></label>
                </div>
                <div>
                    <a href="~/Admin/Usuario/Editar/@item.Id"><i class="fa-solid fa-pen"></i></a>
                    <a href="~/Admin/Usuario/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
                </div>
            </li>
        }
    </ol>
    <a id="aAgregar" href="~/Admin/Usuario/Agregar">Agregar usuario</a>
</section>

