@model QBankAdmin.Areas.Operador.Models.IndexViewModel
@{

    Layout = "OperadorLayout";
}


<section class="container__operador">

    <div class="container__operador-atendiendo">
        <div class="container__operador--informacion">
            <p class="container__operador-caja"></p>
            <p class="container__operador-nombre">
                <i class="fa fa-user"></i>
                @User.Identity.Name
            </p>
            <p id="bankStatus"></p>

        </div>

        <hr />


        <div class="container__operador-cajas">
            <div class="container__operador-cajas-container">
                @foreach (var item in Model.Cajas)
                {
                    <div class="container__operador-cajas-item">
                        <p data-caja-id="@item.Id" data-caja-numero="@item.NumeroCaja">Caja: @item.NumeroCaja</p>
                        <button>
                            Atender
                        </button>
                    </div>
                }
            </div>
        </div>

        <div class="container__operador-turnos-control">



            <div class="container__operador-turnos-actual">
                <h3>Atendiendo turno:</h3>
                <p></p>
            </div>

            <div class="container__operador-turnos-control-btns">
                <button id="btnEndTurno">
                    Finalizar turno
                </button>
                <button id="btnCancel">
                    Cancelar turno
                </button>
                <button id="btnSkip">
                    Saltar turno
                </button>

                <button id="btnNext">
                    Siguiente turno
                </button>
          
            </div>

            <p class="container__operador-turnos-control-avisos"></p>

        </div>
    </div>

   

</section>

<script src="~/operador.js"></script>