@model QBankAdmin.Models.ViewModels.IndexLoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "SimpleLayout";
}


<form action="/login" method="post" class="login-form">
    <div class="form-group">
        <label for="usuario">Correo electronico</label>
        <input asp-for="CorreoElectronico" type="text" class="form-control" id="usuario">
    </div>
    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input asp-for="Contrasena" type="password" class="form-control" id="contrasena">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>


